
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #f90057;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

/* =================================================================
[ index] */
.container-index {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-index {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.index {
  max-width: 430px;
  max-height: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 250px;
  gap: 100px;

}

.white-box {
  max-width: 700px;
  max-height: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 250px;
  gap: 100px;

}

.imc-form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.imc-form button{
  border-radius: 10px;

  background: #f90057;
}

.imc-form button:hover {
  background: #b60000;
}

.change-password-form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.change-password-form button{
  border-radius: 10px;
  padding: 10px;
  border: 2px black solid;
  background: #01d62f;
}

.change-password-form button:hover {
  background: #11ff00;
}

.result{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: -50px;
}

.food-search{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -40px;
}

.food-search button{
  display: flex;
  border-radius: 10px;
  padding: 5px;
  border: 1px black solid;
  background: #01d62f;
}

.food-search button:hover {
  background: #11ff00;
}
.food-search input[type="text"]{
  display: flex;
  border-radius: 10px;
  padding: 5px;
  border: 1px black solid;
}

.food-table{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: -40px;
  overflow: auto;
  min-height: 270px;
  height: 100%;
  min-width: 450px;
  flex: 1 1 100%;
}

/* .food-label{
  flex
} */

.food-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: .5rem;
  border: 1px black solid;
  border-radius: 10px;
  justify-content:space-between;
  cursor: pointer;
}
.food-container :hover{
  /* background: #999999; */
}

.food-container-link{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none !important;;
}

.food-placeholder{
  opacity: 0;
}

.food-placeholder h4{
  font-size: 25px;
}

.food-details-placeholder{
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 30px;
  margin-top: 20px;
}

.food-details-placeholder-left{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.food-details-placeholder-right{
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width: 200px;
}

/* //////////////////////////////// */
.recipe-search{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -40px;
}

.recipe-search button{
  display: flex;
  border-radius: 10px;
  padding: 5px;
  border: 1px black solid;
  background: #01d62f;
}

.recipe-search button:hover {
  background: #11ff00;
}
.recipe-search input[type="text"]{
  display: flex;
  border-radius: 10px;
  padding: 5px;
  border: 1px black solid;
}

.recipe-table{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: -40px;
  overflow: auto;
  min-height: 270px;
  height: 100%;
  min-width: 450px;
  flex: 1 1 100%;
}

/* .recipe-label{
  flex
} */

.recipe-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: .5rem;
  border: 1px black solid;
  border-radius: 10px;
  justify-content:space-between;
  cursor: pointer;
}
.recipe-container :hover{
  /* background: #999999; */
}

.recipe-container-link{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none !important;;
}

.recipe-placeholder{
  opacity: 0;
}

.recipe-placeholder h4{
  font-size: 25px;
}

.recipe-details-placeholder{
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 30px;
  margin-top: 20px;
}

.recipe-details-placeholder-left{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.recipe-details-placeholder-right{
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width: 200px;
}

.recipe-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.ingredients{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.ingredient{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 10px;
}

.ingredientTitle{
  max-width: 140px;
}
.ingredientNumber{
  max-width: 50px;
}
#recipeDescription{
  border: 2px black solid;
  font-size: 12px;
}
/* //////////////////////////////// */

.form-line{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.displayResult{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  margin-top: -50px;
}

.blue{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  margin-top: -50px;
  background-color: rgb(0, 174, 255);
  align-items: center;
}

.green{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  margin-top: -50px;
  background-color: #11ff00;
  align-items: center;
}

.yellow{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  margin-top: -50px;
  background-color: yellow;
  align-items: center;
}

.red{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  margin-top: -50px;
  background-color: #ff0000;
  align-items: center;
}

#sex-radio{
  justify-content: space-evenly;
}

.form-line label{
  margin-bottom: 0px;
}

.index-box{
  width: 230px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 39px 0px 39px 0px
}

.container-index h1{
  display: flex;
  font-style: initial;
  font-size: 400%;
  position: fixed;
  margin-top: -160px;
  font-family: Montserrat-Bold;
}

.container-index h2{
  display: flex;
  font-style: initial;
  font-size: 250%;
  position: fixed;
  margin-top: -120px;
  font-family: Montserrat-Bold;
}

.index-main-btn{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.index-down-btn{
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.white-box .index-down-btn{
  /* margin-top: -50px;
  margin-left: -500px; */
  margin-top: 370px;
  margin-left: -500px;
  position: absolute;
}

.white-box .index-down-btn .down-btn{
  padding: 10px 10px 10px 10px;
}

.result{
  padding: 10px 10px 10px 10px;
  border: 4px black solid;
  background: rgb(0, 255, 13);
  border-radius: 10px;
}

.main-btn {
  font-family: Montserrat-Bold;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 70px;
  border-radius: 40px;
  background: #f90057;
  padding: 0 75px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.main-btn:hover {
  background: #b60000;
}
.down-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  max-height: 55px;
  border-radius: 10px;
  background: #333333;  
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.down-btn:hover {
  background: #000000;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.container-login100 h1{
  display: flex;
  font-style:initial;
  font-size: 400%;
  position: fixed;
  padding: 0px 0px 500px 10px;
  font-family: Montserrat-Bold;
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 0;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #f90057;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #f90057;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #f90057;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #b60000;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.popup-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.popup {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.popup h4 {
  flex: auto;
}

.popup p {
  flex: auto;
}

.popup button{
  border-radius: 10px;
  background: #f90057;
  border: 2px black solid;
  padding: 2px 3px 2px 3px;
}

.close {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #f90057;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.close:hover {
  background: #b60000;
}

.recipe-buttons{
  display: flex;
  flex-direction: row;
  gap: 320px;
}

#addRecipe {
  border-radius: 10px;
  background: #01d62f;
  border: 2px black solid;
  padding: 2px 3px 2px 3px;
}
#submitRecipe {
  border-radius: 10px;
  background: #01d62f;
  border: 2px black solid;
  padding: 2px 3px 2px 3px;
}

/* Modal */
#modal {
  position: absolute;
  top: -100vh;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  background: none;
}

#modal.modal-show {
  top: 0;
  left: 0;
}

.modal-wrapper {
  position: relative;
}

.modal-wrapper,
#modal-content,
#modal-close {
  display: flex;
}

.modal-wrapper 
#modal-content{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 1px 1px 2px #cccccc;
}

#modal-close {
  flex: none;
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cccccc;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipeDetailsPlaceholder,
#foodDetailsPlaceholder {
  display: none;
}

/* Add recipe */
#add-recipe {
  position: absolute;
  top: -100vh;
  left: -100vw;
}

#add-recipe.add-recipe-show {
  position: static;
}
